* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before{
    margin:0;
    padding:0;
}

html {
    width: 80%;
    display: flex;
    margin: 0 auto;
    background-color: cornsilk;

}

header {
    background-color: black;
    height: 10em;
    color:cornsilk;
    width:100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login-form form input{
    margin: 0.5em 0;
}
#login-form a {
    color: blue;
    font-size: 1em;
    text-decoration: underline;
    padding-left:2em;
}

nav ul{
    display: flex;
    justify-content: center;
    
}
nav ul li {
    padding: 1em;
    margin: 1em;
    list-style: none;
}

#search-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom:1em;
}
#search-form input {
    margin-top:1em;
    margin-bottom: 1em;
}

#center-header {
    margin-left:8em;
}



body {
    background-color: white;
    height: 80em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

body section {
    padding-right:1em;
    padding-left:1em;
}


body section article {
    border: 0.2em solid black;
    box-shadow: 0 0.45em 0.45em rgba(0, 0, 0, 0.3);
    margin: 2em 0;
}

body section article h1 {
  text-align: center;
  padding-top:0.3em;
  padding-bottom: 1em;
  color:black;
}
body section article p {
   
    padding: 0 0.3em 0.3em 0.3em;

  }

  #create-user-form {
      width: 50%;
      margin: 0 auto;
  }

body section article form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10em;
}
body section article form input {
    width: 75%;
    margin: 0 auto;
    border: 0.1em solid black;
    box-shadow: 0 0.45em 0.45em rgba(0, 0, 0, 0.3);
}
body section article form button {
    width: 75%;
    margin: 0 auto;
    border: 0.1em solid black;
    box-shadow: 0 0.45em 0.45em rgba(0, 0, 0, 0.3);
}

footer {
    padding: 1em;
    background-color: black;
    height:  20em;
    color: cornsilk;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
footer h1{
    padding:1em;
}
footer p {
    padding:1em;
}

#content {
    height: 30em;
}