
</body>
<footer>
    <h1>Lorem ipsum dolor</h1>
    <p>Lorem ipsum dolor sit amet, an sea quot timeam. Habemus invenire per no. Alterum oporteat repudiare quo eu. Mea graeci aeterno et. Id facer augue quo, pri ei everti meliore.
        Ea discere euismod elaboraret qui, sed omnis semper qualisque ad, cum maiestatis definiebas ea. Ut verear petentium mel. Persius epicurei expetenda ei eum, veri quaestio suavitate per te, sit ut iudicabit percipitur. Quod constituam interpretaris ei mei, sed verterem gubergren consequuntur te, tota constituto te qui.</p>
</footer>

</html>